<h3>Total results found: <%= @count %></h3>
<% @foods.each do |food| %>
  <h3>GTIN/UPC: <%= food.gtin %></h3>
    <p>Description: <%= food.description %></p>
    <p>Brand: <%= food.brand %></p>
    <p>Ingredients: <%= food.ingredients %></p>
<% end %>